.has-error .invalid-feedback{
    display: block;
}

.form-group .form-group,
.form-group p{
    margin-bottom: 0;
}


/*Progress step*/
.step-container {
    border-top: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
    width: 99.85%;
    margin-top: 70px;
    margin-bottom: 50px
}
.step-container h6 {
    color: #495057;
    margin-bottom: unset;
}

.step-container .active h6 {
    color: #fff;
}

.step-container .fa-circle {
    background-color: lightgrey;
    color: #fff;
    padding: 2px 3.1555px;
    border-radius: 50%
}

.step-container .step-box {
    padding: 10px;
    border-left: 1px solid #ced4da;
    border-right: 1px solid #ced4da;
    background-color: #fff
}

.step-container .active {
    background-color: #fd5f00;
    color: #fff !important;
    border-left: 1px solid #fd5f00;
    border-right: 1px solid #fd5f00
}

.step-container .active .fa-circle {
    background-color: #fff !important;
    color: #fd5f00
}

.step-container .fa-check {
    border-radius: 50%;
    background-color: #00C853;
    color: #fff;
    padding: 3px
}

.step-container .step-container .step-title-0 {
    margin-bottom: 0px
}

.step-container .step-title {
    /*font-size: 13px;*/
    font-size: 15px;
    position: relative;
    margin-left: 4px
}
/*\Progress step*/
